@using RobGreenEngineering.Models
@{
    var items = new List<ExperienceItemModel>
    {
        new()
        {
            Image = "rest-easier-logo", 
            DateRange = "August 2023 - Present", 
            Role = "Lead Software & Infrastructure Engineer", 
            Description = "A platform for customers to collect, analyse and understand their assets, liabilities and wishes, allowing them to implement a tax efficient inheritance strategy for their loved ones.",
            Url = null
        },
        new()
        {
            Image = "gecko-logo",
            DateRange = "July 2022 - Present",
            Role = "Lead Software & Infrastructure Engineer",
            Description = "Accumulating and providing in depth Electric Vehicle data to industry stakeholders.",
            Url = "https://geckorisk.com"
        },
        new()
        {
            Image = "houseful-logo",
            DateRange = "September 2023 - December 2024",
            Role = "Tech Lead",
            Description = "Houseful is organised around Homes, Software and Data & Risk business units that unlock the connections that power better property decisions. Houseful incorporates Zoopla and Yourkeys alongside multiple other brands and services.",
            Url = "https://houseful.co.uk"
        },
        new()
        {
            Image = "zoopla-logo",
            DateRange = "May 2021 - September 2023",
            Role = "Tech Lead",
            Description = "A property portal website and app providing estate agents with advertising through their website and affiliated partner websites.",
            Url = "https://zoopla.co.uk"
        },
        new()
        {
            Image = "yourkeys-logo",
            DateRange = "Jan 2019 - May 2021",
            Role = "Senior Software Engineer",
            Description = "The first platform to offer a completely integrated solution to accelerate the time to exchange whilst giving every stakeholder the ability to track the purchase process in real-time. Yourkeys was acquired By Zoopla in April 2021 and is now part of the Zoopla New Homes division.",
            Url = "https://yourkeys.com"
        }
    };
}

<div class="w-full text-center">
    <h2 class="pt-6 font-header text-xl font-medium text-black dark:text-light-green sm:text-2xl lg:text-4xl">
        Experience
    </h2>
</div>

<div class="relative mx-auto mt-12 flex w-full flex-col lg:w-2/3">
    <span class="left-2/5 absolute inset-y-0 ml-10 hidden w-0.5 bg-grey-40 md:block"></span>
    
    @foreach (var item in items)
    {
        <ExperienceItem Model="item"></ExperienceItem>
    }
</div>