@using RobGreenEngineering.Models
@inject IJSRuntime JSRuntime;

<div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
    <div class="md:w-2/5">
        <div class="flex justify-center md:justify-end">
            <span class="shrink-0">
                <img src="img/@(Model.Image).png" alt="company logo" @onclick="() => Navigate(Model.Url)"
                     class="h-auto w-32 md:w-48 transition ease-in-out delay-0 hover:scale-110 duration-300 hover:cursor-pointer"
                     title="@Model.Url" />
            </span>
        </div>
    </div>
    <div class="md:w-3/5">
        <div class="relative flex md:pl-18">
            <div class="mt-1 flex">
                <i class="bx bxs-right-arrow hidden text-primary md:block"></i>
                <div class="md:-mt-1 md:pl-8">
                    <span class="block font-body font-bold text-grey-40">@Model.DateRange</span>
                    <span class="block pt-2 font-header text-xl font-bold uppercase text-primary">
                        @Model.Role
                    </span>
                    <div class="pt-2">
                        <span class="block font-body text-black dark:text-white">
                            @Model.Description
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public ExperienceItemModel Model { get; set; }

    private async Task Navigate(string url) => await JSRuntime.InvokeVoidAsync("open", url, "_blank");
}
