<footer class="bg-light-green">
    <div class="container flex flex-col justify-between py-6 sm:flex-row">
        <p class="text-center font-header text-white md:text-left">
            © Copyright @DateTime.Now.Year. All rights reserved, Rob Green Engineering Ltd.
        </p>
        <div class="flex items-center justify-center pt-5 sm:justify-start sm:pt-0">
            <a href="https://github.com/trossr32" target="_blank">
                <i class="bx bxl-github text-2xl hover:text-black"></i>
            </a>
            <a href="https://www.linkedin.com/company/rob-green-engineering-ltd/" class="pl-4">
                <i class="bx bxl-linkedin text-2xl hover:text-black"></i>
            </a>
            <a href="mailto:web.query@robgreen.me" class="pl-4">
                <i class="bx bx-mail-send text-2xl hover:text-black"></i>
            </a>
        </div>
    </div>
</footer>