@using RobGreenEngineering.Models
@inject IJSRuntime JSRuntime;

<div class="group rounded px-8 py-12 shadow dark:bg-dark-green">
    @if (Model.OpenSourceType is OpenSourceType.BrowserExtension)
    {
        <div class="grid grid-cols-4 gap-1 pt-2">
            @foreach (var link in Model.Links)
            {
                <div class="flex justify-center text-center">
                    <img src="img/@(link.Image).png" alt="@link.Name icon" @onclick="() => Navigate(link.Url)"
                         class="w-3/5 transition ease-in-out delay-0 hover:scale-125 duration-300 hover:cursor-pointer"/>
                </div>
            }
        </div>
    }
    else
    {
        <div class="grid grid-cols-4 gap-1 pt-2">
            <div></div>
            @foreach (var link in Model.Links)
            {
                <div class="flex justify-center text-center">
                    <img src="img/@(link.Image).png" alt="@link.Name icon" @onclick="() => Navigate(link.Url)"
                         class="w-3/5 transition ease-in-out delay-0 hover:scale-125 duration-300 hover:cursor-pointer"/>
                </div>
            }
        </div>
    }

    <div class="text-center">
        <h3 class="pt-8 text-lg font-semibold uppercase text-primary lg:text-xl">
            @Model.Name
        </h3>
        <p class="text-grey pt-4 text-sm md:text-base">
            @Model.Description
        </p>
    </div>
</div>

@code {
    [Parameter] public OpenSourceModel Model { get; set; }

    private async Task Navigate(string url) => await JSRuntime.InvokeVoidAsync("open", url, "_blank");
}
